<div class="doc-prev">
  <div class="doc-wapper">
    <h2 class="doc-title elipse-overflow">Lorem ipsum dolor sit amet.</h2>
    <h3 class="doc-author elipse-overflow">YummyOreo</h3>
    <div class="roles">
      <div class="role"></div>
      <div class="role"></div>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores placeat,
    deserunt inventore quo earum autem numquam unde corporis sit fuga atque
    beatae exercitationem dignissimos impedit. Dignissimos ex iste neque
    pariatur.
  </p>
</div>
