<div class="footer">
  <footer>
    <div class="footer-elements">
      <div class="footer-element footer-links">
        <a href="/">
          <object
            data="static/assets/footer/home.svg"
            width="15rem"
            class="footer-element-icon"
          ></object>
          Home
        </a>

        <a href="https://github.com/YummyOreo/document-site" target="_blank">
          <object
            data="static/assets/footer/code.svg"
            width="15rem"
            class="footer-element-icon"
          ></object>
          Github
        </a>

        <a href="/">
          <object
            data="static/assets/footer/about.svg"
            width="15rem"
            class="footer-element-icon"
          ></object>
          About
        </a>
      </div>
      <div class="footer-element"></div>
      <div class="footer-element">
        <a href="https://oreo.is-a.dev/contact" target="_blank">
          <button class="button">Contact</button>
        </a>
      </div>
    </div>
  </footer>
</div>
