<div class="footer">
  <footer>
    <div class="footer-elements">
      <div class="footer-element">
        <a href="/">Home</a>

        <a href="https://github.com/YummyOreo/document-site" target="_blank">
          Github
        </a>

        <a href="/">About</a>
        <a>Terms</a>
        <a>Privacy Policy</a>
      </div>
      <div class="footer-element"></div>
      <div class="footer-element">
        <a href="https://oreo.is-a.dev/contact" target="_blank">
          <button class="button">Contact Me</button>
        </a>
      </div>
    </div>
  </footer>
</div>
