<div class="footer">
  <footer>
    <div class="footer-elements">
      <div class="footer-element">
        <a href="/">
          <object
            data="static/assets/footer/home.svg"
            width="1.5%"
            class="footer-element-icon"
            style="padding-bottom: 6px"
          ></object>
          Home
        </a>

        <a href="https://github.com/YummyOreo/document-site" target="_blank">
          <object
            data="static/assets/footer/code.svg"
            width="1.7%"
            class="footer-element-icon"
            style="padding-bottom: 4px"
          ></object>
          Github
        </a>

        <a href="/">
          <object
            data="static/assets/footer/about.svg"
            width="1.3%"
            class="footer-element-icon"
            style="padding-bottom: 4px"
          ></object>
          About
        </a>
      </div>
      <div class="footer-element"></div>
      <div class="footer-element">
        <a href="https://oreo.is-a.dev/contact" target="_blank">
          <button class="button">Contact</button>
        </a>
      </div>
    </div>
  </footer>
</div>
