<div class="navbar">
  <a href="/" class="Home">
    <object data="/static/assets/logo.svg" width="35" class="logo"></object>
  </a>
  <nav>
    <ul class="nav-links">
      <li class="nav-item"><a href="/" class="Home">Home</a></li>
      <li class="nav-item">
        <a href="/documents" class="Documents">Documents</a>
      </li>
    </ul>
  </nav>
  <div></div>
  <div class="nav-doc">
    <a href="/make" style="padding-right: 0.5rem">
      <div class="nav-doc-item nav-doc-make">
        <div class="nav-doc-inner">
          <object data="/static/assets/navbar/svg/plus.svg" width="35"></object>
        </div>
      </div>
    </a>
    <a>
      <div class="nav-doc-item nav-doc-search">
        <div class="nav-doc-inner">
          <object
            data="/static/assets/navbar/svg/search.svg"
            width="35"
          ></object>
          <div class="nav-doc-prev">Search</div>
        </div>
      </div>
    </a>

    <div class="profile">
      <span class="profile-name">Sign in</span>
    </div>
  </div>
</div>
