<div class="navbar">
  <a href="/" class="Home">
    <object data="/static/assets/logo.svg" width="35" class="logo"></object>
  </a>
  <nav>
    <ul class="nav-links">
      <li class="nav-item"><a href="/" class="Home">Home</a></li>
      <li class="nav-item">
        <a href="/documents" class="Documents">Documents</a>
      </li>
    </ul>
  </nav>
  <div></div>
  <div class="nav-doc">
    <a href="/settings" style="padding-right: 0.5rem">
      <div class="nav-doc-item nav-doc-reg nav-doc-setting">
        <div class="nav-doc-inner">
          <object
            data="/static/assets/navbar/svg/setting.svg"
            width="35"
          ></object>
        </div>
      </div>
    </a>
    <a href="/make" class="sign-out-remove" style="padding-right: 0.5rem">
      <div class="nav-doc-item nav-doc-reg nav-doc-make">
        <div class="nav-doc-inner">
          <object data="/static/assets/navbar/svg/plus.svg" width="35"></object>
        </div>
      </div>
    </a>
    <a>
      <div class="nav-doc-item nav-doc-search">
        <div class="nav-doc-inner">
          <object
            data="/static/assets/navbar/svg/search.svg"
            width="35"
          ></object>
          <input
            type="text"
            class="nav-doc-input"
            autocomplete="off"
            placeholder="Search"
          />
        </div>
      </div>
    </a>

    <div class="profile-outer">
      <div class="profile">
        <span class="profile-name">Sign in</span>
      </div>

      <div class="profile-dropdown">
        <div class="profile-dropdown-item" id="sign-out">
          <span>Sign Out</span>
        </div>
        <div class="profile-dropdown-item" id="update-profile">
          <span>Update</span>
        </div>
      </div>
    </div>
  </div>
</div>
