<div class="navbar">
  <a href="/" class="Home">
    <object data="/static/assets/logo.svg" width="35" class="logo"></object>
  </a>
  <nav>
    <ul class="nav-links">
      <li class="nav-item"><a href="/" class="Home">Home</a></li>
      <li class="nav-item">
        <a href="/documents" class="Documents">Documents</a>
      </li>
    </ul>
  </nav>
  <div></div>
  <div class="doc">
    <div class="doc-item doc-make">
      <div class="doc-item-inner">
        <object data="/static/assets/navbar/svg/plus.svg" width="35"></object>
      </div>
    </div>
    <div class="doc-item doc-search">
      <div class="doc-item-inner">
        <object data="/static/assets/navbar/svg/search.svg" width="35"></object>
        <div class="doc-search-text-prev">Search</div>
      </div>
    </div>
  </div>
</div>
