.doc-prev {
  padding-left: 1rem;
  padding-top: 0.5rem;

  border: 0px solid var(--background-color-2);
  border-bottom: 2px solid var(--background-color-2);

  display: flex;
  columns: 2;
}

.doc-prev:hover {
  border-width: 2px;

  animation: docPrevOutline 0.4s;
  border: 2px solid var(--text-accent);
}

@keyframes docPrevOutline {
  from {
    border: 2px solid var(--background-color-2);
  }
  to {
    border: 2px solid var(--text-accent);
  }
}

.doc-wapper {
  width: 15%;
}

.doc-title {
  font-size: 1.5rem;
}

.doc-author {
  color: var(--text-gray);
}

.roles {
  padding-top: 0.5rem;
}

.role {
  transition: var(--transition);

  display: inline-block;

  margin-right: 1px;
  height: 20px;
  width: 20px;

  background-color: #e40083;
  border-radius: 20px;

  cursor: pointer;
}

.doc-text {
  padding-right: 1rem;
  padding-left: 35%;

  max-width: 45rem !important;
  height: 6rem;

  font-weight: 300;
  font-size: 20px;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
  display: -webkit-box;
}
