.footer {
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  box-shadow: 0px 1px 15px var(--background-color-3);
  background-color: var(--background-color-3);
}

.footer-elements {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.footer-element {
  padding: 0 10px;
}

.footer-element-icon {
  display: inline;
  filter: var(--text-white-filter);
  place-content: center;

  transition: var(--transition);
}

.footer-links {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 1rem;
}

.footer-element a {
  font-weight: 500;
  color: var(--text-light-gray);
  font-size: 15px;

  transition: var(--transition);
  cursor: pointer;

  display: flex;
  gap: 0.25rem;
}

.footer-element a:hover .footer-element-icon {
  filter: var(--text-accent-filter);
}
.footer-element a:hover {
  transform: scale(1.1);
  color: var(--text-accent);
}
