.group {
  padding: 1rem 1rem;
  padding-left: 1rem;

  border: 0px solid var(--background-color-2);
  border-bottom: 2px solid var(--background-color-2);

  display: flex;
}

.group:hover {
  border-width: 2px;

  animation: groupOutline 1s;
  border: 2px solid var(--text-accent) !important;
}

@keyframes groupOutline {
  from {
    border: 2px solid var(--background-color-2);
  }
  to {
    border: 2px solid var(--text-accent);
  }
}

.group-wrapper {
  align-items: center;
  display: inline-flex;
}

.group-icons {
  padding-left: 18%;
}

.group-settings-button object {
  filter: var(--background-color-4-filter);
  transition: var(--transition);

  transform: scale(0.8);

  rotate: 0deg;
}

.group-settings-button:hover object {
  border-color: var(--text-accent);

  rotate: 180deg;
}

.group-name {
  transition: var(--transition);

  margin-left: 1rem;

  font-size: 1.5rem;

  padding-left: 0.5rem;
  width: 50rem;

  background-color: var(--background-color-3);
  color: var(--text-white);
}

.group-name:focus {
  outline: 0px none !important;
}

.group-name::placeholder {
  color: var(--text-gray-prev) !important;
}

.group-clicked {
  color: #e40083;
}
