#navbar {
  position: sticky;
  z-index: 10;

  box-shadow: 0px 1px 15px var(--background-color-2);
  transition: var(--transition);
}

.navbar {
  background-color: var(--background-color-2);

  padding: 25px 10%;

  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  transform: scale(2.5);
  filter: var(--text-white-filter);

  transition: var(--transition);
}

.logo:hover {
  filter: var(--text-accent-filter);

  transform: scale(2.8);
}

.nav-item * {
  transition: var(--transition);
}

.nav-item {
  transition: var(--transition);

  pointer-events: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav-item a {
  pointer-events: auto;

  font-weight: 500;
  font-size: 20px;
}

.nav-item a:hover {
  color: var(--text-accent);
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-disabled {
  cursor: pointer;
  color: var(--text-gray) !important;
}

.doc {
  padding-top: 0.375rem;
  position: absolute;
  right: 10%;
}

.doc-item {
  transition: var(--transition);

  background-color: var(--background-color-4);
  border-radius: 5px;
  border: 1px solid var(--background-color-3);

  padding: 0.2rem 0.4rem;

  display: inline-block;
}

.doc-item object {
  filter: var(--background-color-3-filter);

  transform: scale(0.7);
}

.doc-item div {
  justify-content: center;
  display: flex;
}

.doc-make:hover {
  border: 1px solid var(--text-accent);

  width: 5.25rem;
}
