.navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
}

.logo {
  transform: scale(2.5);
}

.logo:hover {
  filter: invert(35%) sepia(91%) saturate(3564%) hue-rotate(170deg)
    brightness(92%) contrast(102%);
}

.nav-logo-enlage {
  transition: all 0.5s ease 0s;
}

.nav-logo-enlage:hover {
  transform: scale(1.1);
}

.nav-item a {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-white);
}

.nav-item a {
  font-size: 20px;
  list-style: none;
  transition: all 0.3s ease 0s;
}

.nav-item a:hover {
  color: var(--text-accent);
}

.nav-item:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

.nav-item {
  display: inline-block;
  padding: 0px 20px;
}

.nav-disabled {
  cursor: pointer;
  color: var(--text-gray) !important;
}
