#navbar {
  position: sticky;
  z-index: 6;

  box-shadow: 0px 1px 15px var(--background-color-2);
  transition: var(--transition);
}

.navbar {
  background-color: var(--background-color-2);

  padding: 25px 10%;

  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  transform: scale(2.5);
  filter: var(--text-white-filter);

  transition: var(--transition);
}

.Home:hover object {
  filter: var(--text-accent-filter);

  transform: scale(2.8);
}

.nav-item * {
  transition: var(--transition);
}

.nav-item {
  transition: var(--transition);

  pointer-events: none;
  display: inline-block;
  padding: 0px 10px;
}

.nav-item a {
  pointer-events: auto;

  font-weight: 500;
  font-size: 20px;
}

.nav-item a:hover {
  color: var(--text-accent);
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-disabled {
  cursor: pointer;
  color: var(--text-gray) !important;
}

.nav-doc {
  display: flex;
  position: absolute;
  align-items: center;

  padding-top: 0.143rem;
  right: 10%;
}

.nav-doc-item {
  transition: var(--transition);

  background-color: var(--background-color-4);
  border-radius: 5px;
  border: 1px solid var(--background-color-3);

  padding: 0.2rem 0.4rem;

  display: inline-block;
  width: 3.5rem;

  cursor: pointer;
}

.nav-doc-item object {
  filter: var(--background-color-3-filter);

  transform: scale(0.7);
}

.nav-doc-inner {
  justify-content: center;
  display: flex;
}

.nav-doc-make:hover {
  border-color: var(--text-accent);

  animation: docMakeGrow 0.5s;
  width: 5.25rem;
}

@keyframes docMakeGrow {
  from {
    width: 3.5rem;
  }
  to {
    width: 5.25rem;
  }
}

.nav-doc-prev {
  display: none;

  font-size: 20px;
  color: var(--text-gray-prev);

  padding-left: 0.55rem;
  padding-top: 0.05rem;
}

.nav-doc-search:hover .nav-doc-prev {
  display: block;
}

.nav-doc-search:hover .nav-doc-inner {
  justify-content: left;
}

.nav-doc-search:hover {
  border-color: var(--text-accent);

  animation: docSearchGrow 0.5s;
  width: 12.25rem;
}

@keyframes docSearchGrow {
  from {
    width: 3.5rem;
  }
  to {
    width: 12.25rem;
  }
}

.profile {
  margin-right: 0.5rem;
  margin-left: 1rem;

  max-width: 10rem;
  width: fit-content;

  display: inline-block;

  white-space: nowrap;
  overflow: hidden;

  cursor: pointer;
}

.profile-name {
  transition: all 0.3s ease-in-out 0s;

  font-weight: 600;
  font-size: large;
  color: var(--background-color-3);
}

.profile-name:hover {
  color: var(--text-gray);
}

.profile-dropdown {
  display: none;
}
