.popup-image span {
  font-size: 5rem;
}
.popup-image img {
  border-radius: 5px;
  border: 2px solid var(--background-color-2);

  height: 97%;
  width: 98%;
}

.popup-image {
  justify-content: center;
  align-items: center;
  display: flex;
}
