h1,
.info div {
  padding-top: 20px;
  font-size: 30px;
}

p {
  font-weight: 500;
  color: var(--text-light-gray);
  padding-top: 1rem;
  font-size: 15px;
}

.info {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  gap: 2rem;
  row-gap: 1rem;

  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-template-rows: 1fr;
}

.making-documents {
  padding-top: 6rem;
}

.preview-img,
.card-features-container {
  border: 2px solid var(--background-color-2);
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.preview-img:hover,
.card-features-container:hover {
  border: 2px solid var(--text-accent);
  border-radius: 5px;
  transform: scale(1.01);
}

.caption {
  padding-top: 0;
  padding-left: 5px;
  font-size: 12px;
  color: var(--text-gray);
}

.button-github {
  padding: 9px 25px;
  background-color: var(--text-accent);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-white);
}

.button-github:hover {
  transform: scale(1.05);
}

.link {
  color: var(--text-accent);
}

.features {
  padding-top: 2rem;

  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card-features-container {
  border: 2px solid var(--background-color-1);
  background-color: var(--background-color-3);
  padding: 26px 16px;
}

.card-features-container object {
  transform: scale(0.9);
  filter: invert(93%) sepia(7%) saturate(278%) hue-rotate(188deg)
    brightness(105%) contrast(89%);
}

.separator {
  background-color: var(--background-color-2);
  border: none;
  height: 10px;
  width: 20rem;

  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

.separator:hover {
  transform: scale(1.01);
  background-color: var(--text-accent);
}

.title {
  text-align: center;
  font-size: 50px;
}
