#wapper {
  padding-bottom: 5rem;
  padding-top: 4rem;
}

.wapper {
  height: 54.5rem;
  width: 55rem;

  background-color: var(--background-color-3);
  border-radius: 10px;
  border: 2px solid var(--background-color-2);
}

.panel {
  height: 3.6rem;
  width: 100%;

  border-bottom: 2px solid var(--background-color-2);

  align-items: center;
  display: flex;
}

.panel button {
  transition: var(--transition);

  background-color: var(--background-color-4);
  border-radius: 5px;
  border: 1px solid var(--background-color-2);

  font-weight: 500;
  font-size: 16px;
  color: var(--text-white);

  margin-left: 5px;
  padding: 0px 5px;
}

.panel button:hover {
  border-color: var(--text-accent);
}

.panel button object {
  transition: var(--transition);
  filter: var(--background-color-3-filter);

  transform: scale(0.7);
}

.roles {
  min-height: 50.9rem;
  max-height: 50.9rem;
  width: 54.9rem;

  overflow: scroll;
}
